.container {
  border: 3px solid #1ab2a8;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
}

.weather-app-wrapper {
  max-width: 400px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.form-control {
  font-size: 13px;
}

.fa-search {
  color: #1ab2a8;
}
.fa-location-arrow {
  color: #1ab2a8;
}

h1 {
  font-size: 30px;
  color: #1ab2a8;
  text-transform: uppercase;
  font-weight: bold;
}

.date {
  font-size: 13px;
}

.temperature {
  font-size: 30px;
  color: #1ab2a8;
  font-weight: bold;
}

.unit {
  color: #1ab2a8;
  font-size: 13px;
  text-decoration: none;
}

.unit .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.unit .active:hover {
  text-decoration: none;
}

.weather-list {
  text-align: right;
  font-size: 13px;
}

.forecast-temperature {
  text-align: center;
  color: #1ab2a8;
}

.card {
  font-size: 13px;
  padding: 8px;
}
