.container {
  border: 3px solid #ee9595;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 20px auto;
}

.search {
  font-size: 15px;
}

.fa-search {
  color: #ee9595;
}
.fa-search-location {
  color: #ee9595;
}

h1 {
  font-size: 30px;
  color: #ee9595;
  text-transform: uppercase;
  font-weight: bold;
}

.date {
  font-size: 15px;
}

.temperature {
  font-size: 30px;
  color: #ee9595;
  font-weight: bold;
}

.metric {
  color: #ee9595;
  font-size: 15px;
}

.weather-list {
  text-align: right;
  font-size: 15px;
}

.forecast {
  text-align: right;
  color: #ee9595;
}

.card {
  font-size: 15px;
  padding: 10px;
}
